@import "tailwindcss";
@import "tailwind-animations";

@layer utilities {
  @keyframes fade-up {
    from {
      opacity: 0.1;
      transform: translateY(34px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fade-up 0.7s ease-out forwards;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes bdblink {
    from, to { border-color: transparent;}
    50% { border-color: black; } 
  }

  .animate-typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid black;
    margin: 1px;
    padding: 0%;
        
    animation:typing 2.5s steps(12, end) forwards, bdblink .8s steps(40, end) infinite;
  }
}
