---
import Sectioncontainer from '../components/Sectioncontainer.astro';
import Layout from '../layouts/Layout.astro';
import Badges from '../components/Badges.astro';
import GithubIcon from '../assets/icons/Github.astro';
import LinkdinIcon from '../assets/icons/Linkdin.astro';
import SocialPill from '../components/Socialpill.astro';
import Timeline from '../components/Timeline.astro';
import Estudiosicon from '../assets/icons/estudiosicon.astro';
import Subtitle from '../components/subtitle.astro';
import Bento from '../components/Bento.astro';
import Schoolico from '../assets/icons/Schoolico.astro';
import Gmail from '../assets/icons/gmail.astro';
import miFoto from '../assets/Imagenes/me.webp';
import { Image } from 'astro:assets';
import { lazy } from 'astro:schema';
import ContactForm from '../components/ContactForm.astro';
---

<Layout
 title="Portafoleo de Fabian Solano"
 description="Portafolio de Fabian Solano, Administrador de Empresas con énfasis en la planeación y gestión de proyectos.">
    
    <main class="px-4 sm:px-6 lg:px-8">
        <Sectioncontainer class="pt-20 sm:pb-22 sm:pt-32">
			<div class="justify-items-center">
                <div class="sm:hidden border-2 p-1 rounded-full border-blue-600 ransition-all duration-900 ease-out" data-fade-up>
                    <Image
                        class="sm:hidden rounded-full size-30 object-cover"
                        width={800} height={800}
                        alt="me" src={miFoto}
                        loading=eager
                    >
                </div>
            
				<h1 class="text-center text-2xl sm:text-5xl lg:text-5xl font-bold flex flex-col sm:flex-row gap-x-4 gap-y-2 py-10 opacity-0 translate-y-6 transition-all duration-900 ease-out" data-fade-up>
                Hola soy Fabian! 
                    <a 
                        href="https://www.linkedin.com/in/fabian-mauricio-solano-dorado-5225a03a9/" 
                        target="_blank"
                        rel="noopener"
                        class="flex justify-center xl:justify-start items-center"
                    >
                        <Badges class="border-sky-500">Disponible</Badges>
                    </a>
                </h1>
			</div>

            <h2 class="text-base sm:text-lg lg:text-xl leading-relaxed max-w-4xl">
                <span class="text-blue-600 font-semibold">Administrador de Empresas</span> con énfasis en la planeación y gestión de proyectos, con 
                capacidad para apoyar la formulación, seguimiento y control de actividades 
                orientadas al cumplimiento de <span class="text-blue-600 font-semibold">objetivos organizacionales.</span> Manejo herramientas 
                digitales y software de apoyo para la organización de información, elaboración de 
                informes y optimización de procesos.
            </h2>

            <nav class="flex flex-wrap flex-row gap-2 sm:gap-3 mt-6">
                    <SocialPill href="https://github.com/MEPPERDONAS">
                        <GithubIcon class="size-5 sm:size-6"/>
                        GitHub
                    </SocialPill>
                    <SocialPill href="https://www.linkedin.com/in/fabian-mauricio-solano-dorado-5225a03a9/">
                        <LinkdinIcon class="size-5 sm:size-6"/>
                        Linkedin
                    </SocialPill>
                    <SocialPill href="mailto:fabiansd1706@gmail.com">
                        <Gmail class="size-5 sm:size-6"/>
                        fabiansd1706@gmail.com
                    </SocialPill>	
            </nav>
        </Sectioncontainer>
        <Sectioncontainer id="educacion">
            <Subtitle>
                <Schoolico class="size-7 sm:size-8 items-center dark:text-blue-600" />
                Educación
            </Subtitle>
            <Timeline />
        </Sectioncontainer>

        <Sectioncontainer id="habilidades">
            <Subtitle>
                <Estudiosicon class="size-7 sm:size-8 items-center dark:text-blue-600"/>
                Habilidades
            </Subtitle>
            <Bento />
        </Sectioncontainer>

        <Sectioncontainer id="contact">
            <Subtitle>
                <Estudiosicon class="size-7 sm:size-8 items-center dark:text-blue-600"/>
                Contacto
            </Subtitle>
            <div class="leading-relaxed max-w-4xl">
                <p class="mb-4">
                    ¡Gracias por visitar mi portafolio! Si estás interesado en colaborar o tienes alguna pregunta, no dudes en contactarme.
                </p>
                <p>
                    Puedes enviarme un correo electrónico a 
                    <a href="mailto:fabiansd1706@gmail.com" class="text-blue-600 hover:underline">
                        fabiansd1706@gmail.com
                    </a>
                    o conectarte conmigo a través de mis redes sociales.
                </p>
            </div>
            <ContactForm></ContactForm>    
        </Sectioncontainer>

    </main>
</Layout>