---

---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4
  auto-rows-auto lg:auto-rows-[180px]">

  <!-- Card destacada -->
<div
  class="lg:col-span-2 lg:row-span-2 p-4 sm:p-6
         text-zinc-950 flex flex-col gap-4
         border border-zinc-800 hover:bg-violet-50 transition h-2xl
         hover:scale-102 transform duration-300 ease-in-out rounded-md"
>

  <div>
    <h3 class="text-xl sm:text-2xl font-bold mb-2">
      Proyecto destacado
    </h3>
    <p class="text-sm opacity-90">
      Proyecto de app flask de reservas con persistencia elaborada en python  y con base postgress.
    </p>
  </div>

  <!-- Imagen responsiva -->
  <div class="w-full h-40 sm:h-52 lg:h-full overflow-hidden rounded-md">
    <img
      src="/Imagenes/proyectoweb1.webp"
      alt="imagen"
      class="w-full h-full object-cover"
    />
  </div>

  <a href="https://one85-reservas.onrender.com/" target="_blank" class="text-xs opacity-75 hover:font-bold">Ver más →</a>
</div>


  <!-- Card normal -->
  <div class="bg-white p-5 shadow-sm hover:shadow-md transition group border border-zinc-800 hover:scale-102 transform duration-300 ease-in-out rounded-md flex flex-col items-start relative overflow-hidden">
    <h4 class="font-semibold mb-1">Investigación</h4>
    <p class="text-sm text-gray-600">Análisis, datos y resultados.</p>
    <img
      src="/Imagenes/python.svg"
      alt="Pythind"
      class="bg-zinc-900 size-18 mt-2 border p-1 rounded-full border-zinc-800 group-hover:rotate-12 transition-all duration-200 ease-in-out absolute -bottom-4 -right-4 group-hover:scale-120"
    />

  </div>

  <!-- Card normal -->
  <div class="bg-white p-5 shadow-sm hover:shadow-md transition border border-zinc-800
              hover:scale-102 transform duration-300 ease-in-out rounded-md">
    <h4 class="font-semibold mb-1">Proyectos</h4>
    <p class="text-sm text-gray-600">Planeación y seguimiento.</p>
  </div>

  <!-- Card horizontal -->
  <div class="sm:col-span-2 bg-zinc-800 p-5 text-white flex items-center justify-between
              hover:scale-102 transform duration-300 ease-in-out cursor-pointer rounded-md">
    <div>
      <h4 class="font-semibold">Tecnologías</h4>
      <p class="text-sm opacity-80">Astro, Tailwind, datos, Html, css .</p>
    </div>
    <span class="text-xs opacity-60">Explorar</span>
  </div>


</div>
