---
import Badges from "./Badges.astro"
import ExcelIcon from "../assets/icons/Excel.astro"
import GithubIcon from "../assets/icons/Github.astro"
import proyecto1 from '../assets/Imagenes/proyectoweb1.webp';
import pythonIcon from "../assets/python.svg";
import PowerbiIcon from "../assets/icons/PowerBiIcon.astro";
---

<div class="grid grid-cols-1 lg:grid-cols-4 gap-4
  auto-rows-auto lg:auto-rows-[180px]">

  <!-- Card destacada -->
<div
  class="lg:col-span-2 lg:row-span-2 p-4 sm:p-6
         flex flex-col gap-4
         border border-zinc-800 transition h-2xl
         hover:scale-102 transform duration-300 ease-in-out rounded-md
         timeline-view animate-bounce-fade-in animate-range-[entry_0%_cover_30%] dark:hover:shadow-fuchsia-600 hover:shadow-sm"
>

  <div>
    <h4 class="font-bold mb-2">
      Proyecto destacado
    </h4>
    <p class="text-sm opacity-90">
      Proyecto de app flask de reservas con persistencia elaborada en python  y con base postgress.
    </p>
    <div class="flex flex-row gap-x-1 mt-6">
      <Badges class="flex flex-row items-center gap-x-1 w-fit border-yellow-400 bg-yellow-100 dark:text-black">
      <img class="size-3" src={pythonIcon.src} alt="ico">
        Python</Badges>
      <Badges class="border-blue-900 bg-blue-100 dark:text-black">Postgress</Badges>
    </div>
    
  </div>

  <!-- Imagen responsiva -->
  <div class="w-full h-40 sm:h-52 lg:h-full overflow-hidden rounded-md">
    <img
      src={proyecto1.src}
      alt="imagen"
      class="w-full h-full object-cover"
    />
  </div>

  <a href="https://one85-reservas.onrender.com/" target="_blank" rel="noopener noreferrer" class="text-xs opacity-75 hover:font-bold max-w-fit ps-0.5 px-1">Ver más →</a>
</div>


  <!-- Card normal -->
  <div class="p-5 shadow-sm transition group border border-zinc-800 hover:scale-102 
              transform duration-300 ease-in-out
              rounded-md flex flex-col items-start relative overflow-hidden
              timeline-view animate-bounce-fade-in animate-range-[entry_0%_cover_30%] dark:hover:shadow-sky-400 hover:shadow-sm">
    <h4 class="font-semibold mb-1 text-shadow-md z-30">Investigación</h4>
    <p class="text-sm z-30 dark:group-hover:mix-blend-difference">Análisis, datos y resultados en Python.</p>

    <div class="z-40 border border-gray-700 bg-white rounded-sm transition-all duration-100 ease-in-out relative top-3 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 translate-y-2 px-1">
      <p class="font-mono dark:text-black text-xs hidden group-hover:block animate-typing duration-300 transition-transform">import pandas</p>
    </div>

    <div class="z-0 opacity-0  bg-yellow-300 size-18 mt-2 p-3 rounded-full group-hover:rotate-12 transition-all duration-300 ease-in-out absolute -bottom-4 -right-4 group-hover:scale-700 group-hover:opacity-100
    "></div>
      <img
      src={pythonIcon.src}
      alt="Python Icon"
      class="opacity-90 bg-zinc-900 size-18 mt-2 p-3 rounded-full group-hover:rotate-12 transition-all duration-200 ease-in-out absolute -bottom-4 -right-4 group-hover:scale-120 group-hover:opacity-100"
    />

  </div>

  <!-- Card normal -->
  <div class="p-5 shadow-sm transition group border border-zinc-800 hover:scale-102 transform duration-300 ease-in-out rounded-md flex flex-col items-start relative overflow-hidden sm:col-span-2 lg:col-span-1 group aside timeline-view animate-bounce-fade-in animate-range-[entry_0%_cover_30%] dark:hover:shadow-fuchsia-600 hover:shadow-sm">
    <h4 class="font-semibold mb-1 text-pretty">Proyectos</h4>
    <p class="text-sm z-30">Planeación y seguimiento ( exel avanzado y PowerBi).</p>
    <div class="flex flex-row my-3">
       <ExcelIcon class="size-5 sm:size-5 border bg-white dark:bg-transparent border-white rounded-full dark:border-0 group-hover:rounded-none transition duration-300"/>
       <GithubIcon class="size-5 sm:size-5 border bg-white dark:bg-transparent border-white rounded-full dark:border-0 -translate-x-2 group-hover:translate-x-1 group-hover:rounded-none transition duration-300"/>
       <PowerbiIcon class="size-5 sm:size-5 border bg-white dark:bg-transparent border-white rounded-full dark:border-0 group-hover:rounded-none -translate-x-4 group-hover:translate-x-2 transition duration-400"/>
       
    </div>
  </div>

  <!-- Card horizontal -->
  <div class="sm:col-span-2 bg-linear-to-br from-zinc-500 via-zinc-800 to-zinc-900 p-5 text-white flex items-center justify-between hover:scale-102 transform duration-300 ease-in-out cursor-pointer rounded-md hover:contrast-120 border border-black timeline-view animate-fade-in-up animate-range-[entry_70%_cover_30%] dark:hover:shadow-fuchsia-600/70 hover:shadow-sm">
    <div>
      <h4 class="font-semibold">Tecnologías y Lenguajes</h4>
      <p class="mt-3">Conocimientos en</p>
      <p class="text-sm opacity-80">Astro, Tailwind, Python, SQL, Html, Css .</p>
    </div>
    <span class="text-xs opacity-60">Ver mas</span>
  </div>


</div>
