<header class="flex sm:justify-between items-center py-5 w-full px-4">
    <img 
    class="rounded-full w-12 h-12 hidden md:inline-flex"
    src="https://lh3.googleusercontent.com/a/ACg8ocJKQ7p1-bszCiNz1TAZIwfVnDB1B3R-2EeCwkgtmOsEnslTYcE5=s83-c-mo" alt="Portafoleo Logo" />
    <nav class="flex flex-row gap-4 opacity-80 xl:gap-10">
        <a href="/" >Portafoleo</a>
        <a href="#about" >Sobre mi</a>
        <a href="#projects" >Projectos</a>
        <a href="#contact" >Contacto</a>
    </nav>

</header>