<a class="rounded-full border border-gray-800 flex items-center justify-center gap-x-2 px-4 py-1 hover:bg-gray-800/15 transition-colors duration-200 ease-in-out hover:scale-105 cursor-pointer" 
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    >
    <slot />
</a>