<h2
  class="font-bold flex  flex-row sm:flex-row items-center
         text-lg sm:text-xl mb-6 sm:mb-8 gap-2 sm:gap-x-4 timeline-view animate-fade-up animate-range-[entry_1%_contain_20%]"
>
  <slot />
</h2>


