<h2
  class="opacity-0 translate-y-6 transition-all duration-700 ease-out font-bold flex  flex-row sm:flex-row items-center
         text-lg sm:text-xl mb-6 sm:mb-8 gap-2 sm:gap-x-4"
  data-fade-up
>
  <slot />
</h2>


