---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import '@fontsource/onest';


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<script is:inline>
            const setTheme = () => {
                const theme = (() => {
                    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                        return localStorage.getItem('theme');
                    }
                    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        return 'dark';
                    }
                    return 'light';
                })();

                if (theme === 'light') {
                    document.documentElement.classList.remove('dark');
                } else {
                    document.documentElement.classList.add('dark');
                }
                window.localStorage.setItem('theme', theme);
            };

            setTheme();
            document.addEventListener('astro:after-swap', setTheme);
        </script>
	</head>

	<body>
		
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	:root{
		color-scheme: light dark;
	}

	html{
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
		background-color: var(--color-zinc-50);
    	color: var(--color-zinc-950);
	}

	html.dark {
		background-color: var(--color-zinc-950);
		color: var(--color-zinc-50);
  	}

	body {
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		
	}
	@media (prefers-reduced-motion: ){
		html {
			scroll-behavior: auto;
		}
	}
</style>

<script>
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      entry.target.classList.toggle('opacity-0', !entry.isIntersecting)
      entry.target.classList.toggle('translate-y-6', !entry.isIntersecting)
    })
  }, { threshold: 0.15 })

  document.querySelectorAll('[data-fade-up]')
    .forEach(el => observer.observe(el))
</script>